@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply leading-[normal] m-0;
}
*,
::before,
::after {
  border-width: 0;
}

.hero-container {
  background-image: url("/public/frame.svg");
  background-repeat: no-repeat; /* Prevent image from repeating */
  background-size: cover; /* Resize image to cover the entire element */
  background-position: center center; /* Center the image horizontally and vertically */
}

#about {
  background-image: url("/public/mask-group@2x.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.about-text {
  background-image: url("/public/group-1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/* .text-container {
  background-color: black;
} */

@media screen and (min-width: 1024px) {
  #about {
    background-image: none;
  }
}

@keyframes slide-in-bottom {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
